/*Màn hình chính*/
#Screen_Main {
    position: absolute;
    left: 215px;
    top: 180px;
    width: 1300px; 
    height: 900px;
    border: 1px solid #000000;
}

#Screen_Main h3{
    text-align:center;
    font-size: 30px;
    color: #333;
    border: 1px solid #000000;
    padding: 1px;
    background-color: white;
    margin-top: 0;
    margin-bottom: 0;
}